h1{
  font-family: "SF UI Display";
  font-size: 90px;
  color: #313131;
  text-align: center;
  margin: auto;
  margin-top: 100px; 
  margin-bottom: 50px;
}
.Instagram{
	width: 40%;
	display: block;
	position: relative;
	margin: auto;
}