h1{
  font-family: "SF UI Display";
  font-size: 90px;
  color: #313131;
  text-align: center;
  margin: auto;
  margin-top: 100px; 
  margin-bottom: 50px;
}

.Temario{
  width: 100%;
  display: flex;
  align-items: center;
}
.img1{
  width: 30%;
  margin-left: 55%;
}
.img2{
  width: 30%;
  padding-left: 5%;
  margin-top: -250px;
}
.img3{
  width: 30%;
 padding-left: 55%;
 margin-top: 80px;
}

.img4{
  width: 30%;
  padding-left: 5%;
  margin-top: -200px;
}

.Cinematica{
  font-family: "SF UI Display";
  font-size: 50px;
  color: transparent;
  position:absolute;
  left: -12%;
  text-decoration-line: none;
  margin-top: -420px;
  padding: 20% 20%;
}
.Leyesdenewton{
  font-family: "SF UI Display";
  font-size: 40px;
  Color: transparent;
  position: absolute;
  right: 0%;
  text-decoration-line: none;
  margin-top: -450px;
  padding: 24% 250px;
}
.Aplicacion{
  font-family: "SF UI Display";
  font-size: 20px;
  color: transparent; 
    position: absolute;
  left: -280px;
  margin-top: -380px;
  text-decoration-line: none;
  display: flex;
  text-align: center;
  padding: 20% 394px 18%; 
}
.Modelos{
  font-family: "SF UI Display";
  font-size: 80px;
  color: transparent; 
  position: absolute;
  right: -120px;
  margin-top: -450px;
  text-decoration-line: none;
  display: flex;
  text-align: center;
  padding: 20% 394px 18%; 
}



