h1{
  font-family: "SF UI Display";
  font-size: 90px;
  color: #313131;
  text-align: center;
  margin: auto;
  margin-top: 100px; 
  margin-bottom: 50px;
}

.Temario{
  width: 100%;
  display: flex;
  align-items: center;
}
.img1{
  width: 40%;
  margin-left: 55%;
}
.img2{
  width: 40%;
  padding-right: 40%;
  margin-top: -330px;
}
.img3{
  width: 40%;
 padding-left: 50%;
}

.img4{
  width: 40%;
  margin-top: -200px;
}

.Cinematica{
  font-family: "SF UI Display";
  font-size: 50px;
  color: #fffff;
  position:absolute;
  left: -12%;
  text-decoration-line: none;
  margin-top: -520px;
  padding: 20% 20%;
}
.Leyesdenewton{
  font-family: "SF UI Display";
  font-size: 50px;
  color: #fa2ahh;
  position: absolute;
  right: -1%;
  text-decoration-line: none;
  margin-top: -305px;
  padding: 19% 102px;
}
.Aplicacion{
  font-family: "SF UI Display";
  font-size: 20px;
  color: red;
  position: absolute;
  left: -310px;
  margin-top: -330px;
  text-decoration-line: none;
  display: flex;
  text-align: center;
  padding: 20% 394px 18%; 
}
.Modelos{
  font-family: "SF UI Display";
  font-size: 80px;
  color: blue;
  position: absolute;
  right: -220px;
  margin-top: -530px;
  text-decoration-line: none;
  display: flex;
  text-align: center;
  padding: 20% 394px 18%; 
}
