body{
	font-family: "SF UI Display";
	color: #313131;
	font-size: 0.9rem;
	line-height: 1.6rem;

}

.container{
	width: 85%;
	max-width: 850px;
	margin: 0 auto;
}

p{
	margin-bottom: 1.3rem;
}

h1{
	font-size: 4rem;
	line-height: 4rem;
}

.header{
	background-color: #313131;
	color: white;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
}

.header a{
	color: white;
	text-decoration: none;
}

.lupa{
	width: 22.4px;
	margin: 1.2rem;
}

.logo{
	width: 144px;
}

.logo-nav-container{
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}
.menu-icon{
	display: none;
}

.navigation ul{
	margin: 0;
	padding: 0;
	list-style: none;
}

.navigation ul li{
	display: inline-block;
}

.navigation ul li a{
	display: block;
	padding: 1.5rem 1rem;
	transition: all 0.4s linear;
}

.navigation ul li a:hover{
	color: white;
  	background-color: #252525;
}

.footer{
	background-color: #f2f2f2;
	padding: 4rem 0;
	text-align: center;
	margin-top: 6rem;
}

.main{
	padding-top: 6rem;
}

@media only screen and (max-width: 768px) {
	
.menu-icon{
	display: block;
	cursor: pointer;
	padding: 1.5rem 1rem;
}
.navigation{
	width: 100%;
}	

.navigation ul{
	display: none;
}

.lupa {
	display: none;
}

.navigation.ul.show{
	display: block;
}
.navigation ul li{
	display: block;
}

.navigation ul li a{
	display: block;
	padding: 1.5rem 1rem;
	transition: all 0.4s linear;
}

}