<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='Leyes.css')}}">
	<link rel="stylesheet" href="https://pyscript.net/latest/pyscript.css" />
	<script defer src="https://pyscript.net/latest/pyscript.js"></script>

	<py-env>
- matplotlib
- numpy
	</py-env>

	<title>Leyes de newton</title>
</head>
<body>

<h1>Leyes de Newton</h1>
<p>Las leyes de Newton son tres principios que analizan cómo hay fuerzas que actúan sobre los objetos para que estos se muevan. Son usadas para explicar el movimiento de los carros, las bicicletas y muchas cosas que ves a tu alrededor, hasta tus propios movimientos, al correr y saltar. <br>
Para entenderlas mejor es necesario que conozcas los siguientes términos: 
<br>
*Movimiento: siempre que te hablen de movimiento recuerda que se da cuando un objeto cambia de un lugar a otro o modifica su posición. Por ejemplo, al desplazarse los animales usan el movimiento porque cambian de un lugar a otro. Además, si se acuestan a dormir también están generando movimiento, porque sus patas, cabeza y cuerpo, en general, cambian de posición. <br>

*Fuerza: es cualquier acción como levantar, empujar o arrastrar un objeto, que hace que este se mueva o que cambie su forma. Por ejemplo, si levantas una caja del piso para ponerla sobre una mesa, estas usando la fuerza para mover el objeto.<br>

*Aceleración: la puedes ver cuando un automóvil aumenta su velocidad o la disminuye. Estos cambios, que lo hacen ir más rápido o más lento, se llaman aceleración.
</p>



<h2>Primera ley o ley de la inercia	</h2>

<p>Cualquier masa cambiara a estado de reposo o movimiento únicamente si se le aplica una fuerza externa.

La primera ley de Newton, establece que un objeto permanecerá en reposo o con movimiento uniforme rectilíneo 
al menos que sobre él actúe una fuerza externa. Puede verse como un enunciado de la ley de inercia,
en que los objetos permanecerán en su estado de movimiento cuando no actuan fuerzas externas sobre el mismo para cambiar su movimiento. 
Cualquier cambio del movimiento implica una aceleración y entonces se aplica la Segunda ley de Newton; 
De hecho, la primera ley de Newton es un caso especial de la segunda ley, en donde la fuerza neta externa 
es cero.
el mismo para cambiar su movimiento.<br>Cualquier cambio del movimiento implica una aceleración y entonces se aplica la Segunda ley de Newton; De hecho, la primera ley de Newton es un caso especial de la segunda ley, en donde la fuerza neta externa 
es cero.<br>

el mismo para cambiar su movimiento. <br>
Cualquier cambio del movimiento implica una aceleración y entonces se aplica la Segunda ley de Newton; 
De hecho, la primera ley de Newton es un caso especial de la segunda ley, en donde la fuerza neta externa 
es cero.<br>

La primera ley de Newton, contiene implicaciones sobre la simetría fundamental del Universo, en la que el estado de movimiento en línea recta debe considerarse tan natural como el estado de reposo. Si un objeto está en reposo respecto de una marco de referencia, aparecerá estar moviéndose en línea recta para un observador que se esté moviendo igualmente en línea recta respecto del objeto. No hay forma de saber que marco de referencia es especial, de modo que, todos los marcos de referencias de velocidad rectilínea constante son equivalentes.</p>

<form action="/test" method="POST">

</form>


<div id="lineplot">
<py-script output="lineplot">
import matplotlib.patches as mpatches
import matplotlib.pyplot as plt
x_tail = 0.1
y_tail = 0.5
x_head = 0.9
y_head = 0.8
dx = x_head - x_tail
dy = y_head - y_tail

fig, axs = plt.subplots(nrows=2)
arrow = mpatches.FancyArrowPatch((x_tail, y_tail), (x_head, y_head),
                                 mutation_scale=100)
axs[0].add_patch(arrow)

arrow = mpatches.FancyArrowPatch((x_tail, y_tail), (x_head, y_head),
                                 mutation_scale=100)
axs[1].add_patch(arrow)
axs[1].set(xlim=(0, 2), ylim=(0, 2))
fig
</py-script>

</div>
 <h2>Segunda ley o ley fundamental de la dinámica</h2>
	
<p>La aceleración de un objeto va a ser directamente proporcional a la fuerza que se le aplica a este.</p>
<form action="/test2" method="POST">
	<label for="force2">Fuerza en newtons</label>
	<input type="number" name="force2" id="force2">
	<button type="submit">Example</button>
</form>

<div id="lineplot2">
<py-script output="lineplot2">
from numpy import sin, cos
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.animation as animation
import matplotlib.path as mpath
import matplotlib.patches as mpatches


class Graph2:

    def __init__(self, range=1):
        Path = mpath.Path

        self.fig, ax = plt.subplots()
        pp1 = mpatches.PathPatch(
            Path([(0, 0), (range, 0), (range, range), (0, 0)],
                 [Path.MOVETO, Path.CURVE3, Path.CURVE3, Path.CLOSEPOLY]),
            fc="none", transform=ax.transData)

        ax.add_patch(pp1)
        ax.plot([0.75], [0.25], "ro")
        ax.set_title('The red point should be on the path')

graph2 = Graph2(range={{range2}})
graph2.fig
</py-script>

</div>

<h2>Tercera ley o principio de acción y reacción</h2>	

<p>Toda acción tiene una reacción igual, pero en sentido contrario</p>
<form action="/test3" method="POST">
	<input type="range" min="1" max="10" name="range3">
	<button type="submit">Example</button>
</form>

<div id="lineplot3">
<py-script output="lineplot3">
from numpy import sin, cos
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.animation as animation
import matplotlib.path as mpath
import matplotlib.patches as mpatches


class Graph3:

    def __init__(self, range=1):
        self.fig, ax = plt.subplots()
        plot=[]
        plotReverse=[]
        i=0
        while(i<=range):
            plot.append(i)
            plotReverse.append(range-i)
            i+=1

        line1, = ax.plot(plot, label="Line 1", linestyle='--')
        line2, = ax.plot(plotReverse, label="Line 2", linewidth=4)

        # Create a legend for the first line.
        first_legend = ax.legend(handles=[line1], loc='upper right')

        # Add the legend manually to the current Axes.
        ax.add_artist(first_legend)

        # Create another legend for the second line.
        ax.legend(handles=[line2], loc='lower right')

graph3 = Graph3(range={{range3}})
graph3.fig
</py-script>

</div>

<footer>
<p class="Copyright">Copyright &copy 2022 Modelo de Ingenieria | Jimenez Pertuz Deiner | Perez Villa Aldahir | Robles Gonzalez Andres | Todos los derechos reservados.</p>
</footer>
<iframe
 width="800"
    height="600"
    src="https://phet.colorado.edu/sims/html/forces-and-motion-basics/latest/forces-and-motion-basics_es.html">
</iframe>


</body>

</html>
