<html>
<head>
	<title>Mecanica Newtoniana</title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='Menú y Footer/Menú y Footer.css')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='Mecanicanewtoniana.css')}}">
		
</head>
<body>
 	<ul class="header">
		<li><a href="/Mecanicanewtoniana">Inicio</a></li>
		<li><a href="/Temario">Temario</a></li>
  		<li><a href="/Cursos">Cursos</a></li>
		<li><a href="/Recursos">Recursos</a></li>
  		<li><a href="/Contactar">Contactar</a></li>
 		<li><img class="lupa" src="{{url_for('static', filename='Menú y Footer/lupa.png')}}"></li>
  	</ul> 

	<div class="slider"> 
		<ul>
		    <li><img src="{{url_for('static', filename='Slider/1.Newton.jpg')}}"></li>
		    <li><img src="{{url_for('static', filename='Slider/2.cine.jpg')}}"></li>
		    <li><img src="{{url_for('static', filename='Slider/3.leyes.jpg')}}"></li>
			<li><img src="{{url_for('static', filename='Slider/4.aplicacion.jpg')}}"></li>
		</ul>
    </div>

    <h1>Mecanica newtoniana.</h1>

	<p>
		Deiner Jimenez Pertuz. <br> Aldahir Perez villa. <br> Andres Robles Gonzales.

	</p>
	
	<footer>
		<p class="Copyright">Copyright &copy 2022 Modelo de Ingenieria | Jimenez Pertuz Deiner | Perez Villa Aldahir | Robles Gonzalez Andres | Todos los derechos reservados.</p>
	</footer>
</body>
</html>